@use '../../../css/variables' as var;

.pageContainer{
    .homepageImageContainer{
        margin: 2rem;
        display: flex;
        justify-content: center;
        img{
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
        }
    }
}

.homepageTextContainer{
    margin: 0 10rem;
    h2{
        font-size: 2rem;
        font-weight: 900;
        color: var.$orange;
        margin: 1rem 0;
    }
}
.posterContainerHomePage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    padding-bottom: 3rem;
    .newsContainer{
        height: 300px;
        width: 400px;
        margin: auto;
        gap: 1rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        img{
            width: 100%;
            height: auto;
        }
    }

    .buttonContainer {
        display: flex;
        gap: 0.2rem;
        button {
            padding: 0.5rem 1rem;
            border: 1px solid var.$border;
            background-color: var.$orange;
            color: var.$text;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}