@use '../../../css/variables' as var;

.mainHeader {
    border-bottom: 2px solid var.$border;
    .mainHeaderContent {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin: 0 2rem;
        .mainHeaderTitle {
            font-size: 54px;
            font-weight: 900;
            color: var.$orange;
        }
        .headerNav {
            ul {
                display: flex;
                list-style: none;
                li {
                    padding: 1rem;
                    display: flex;
                    a {
                        text-decoration: none;
                        color: var.$text;
                        font-size: 18px;
                        font-weight: 300;
                    }
                    i{
                        font-size: 1.5rem;
                    }
                }


            }
        }
    }
}



.active{
    color: var.$orange !important;
}