@use '../../../css/variables' as var;


.mainFooter {
    border-top: 2px solid var.$border;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    .footerUlContainer {
        margin: 0 4rem;
        display: flex;
        gap: 2rem;
        ul {
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: var.$text;
                    font-weight: 300;
                }
            }
            &:nth-child(1) {
                li:nth-child(1) {
                    a {
                        font-weight: 600;
                        color: var.$orange;
                    }
                }
            }
        }
    }
}

.iconContainer {
    display: flex;
    gap: 1rem;
    i {
        margin-top: 0.8rem;
        font-size: 2.5rem;
        color: var.$orange;
    }
}